{% load cart_template_tags %}
{% load static %}

<!-- Top Bar -->

<div class="top_bar">
	<div class="container">
		<div class="row">
			<div class="top_bar_contact_item"><div class="top_bar_icon"><img src="images/phone.png" alt=""></div>LOGO</div>
			<div class="top_bar_content ml-auto">
				<div class="top_bar_menu">
					<ul class="standard_dropdown top_bar_dropdown">

					</ul>
				</div>
				<div class="top_bar_user">
					<div class="user_icon"><img src="{% static 'images/user.svg' %}" alt=""></div>
					{% if request.user.is_authenticated %}
					<div><a href="{% url 'account_logout' %}">logout</a></div>
					{% else %}
					<div><a href="{% url 'account_login' %}">login</a></div>
					<div><a href="{% url 'account_signup' %}">signup</a></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<!-- Header Main -->

<div class="header_main">
	<div class="container">
		<div class="row">

			<!-- Logo -->
			<div class="col-lg-2 col-sm-3 col-3 order-1">
				<div class="logo_container">
					<div class="logo"><a href="/">partsafi</a></div>
				</div>
			</div>

			<!-- Search -->
			<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
				<div class="header_search">
					<div class="header_search_content">
						<div class="header_search_form_container">
							<form action="/search/" method="post" class="header_search_form clearfix">
							{% csrf_token %}
								<input type="text" id="query" required="required" class="header_search_input"
									placeholder="search">
									<select name="catid">
								<div class="custom_dropdown">
									<div class="custom_dropdown_list">
										<span class="custom_dropdown_placeholder clc">All Categories</span>
										<i class="fas fa-chevron-down"></i>
										<ul class="custom_list clc">
											{% for grinch in grinchs %}
											<li><a class="clc" href="/?grinch={{grinch.id}}">{{ grinch.name }}</a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
								<button type="submit" class="header_search_button trans_300" value="Submit"><img
										src="{% static 'images/search.png' %}" alt=""></button>
							</form>
						</div>
					</div>
				</div>
			</div>


			<!-- Wishlist -->
			{% if request.user.is_authenticated %}
			<div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
				<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
					<div class="wishlist d-flex flex-row align-items-center justify-content-end">
						<div class="wishlist_icon"><img src="{% static 'images/checkout.png' %}" alt=""></div>
						<div class="wishlist_content">
							<div class="wishlist_text"><a href="/checkout">Checkout</a></div>
						</div>
					</div>

					<!-- Cart -->

					<div class="cart">
						<div class="cart_container d-flex flex-row align-items-center justify-content-end">
							<div class="cart_icon">
								<img src="{% static 'images/cart1.png' %}" alt="">
								<div class="cart_count"><span>{{ request.user|cart_item_count }}</span></div>
							</div>
							<div class="cart_content">
								<div class="cart_text"><a href="{% url 'core:order-summary' %}">Cart</a></div>

							</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<nav class="main_nav">
	<div class="container">
		<div class="row">
			<div class="col">

				<div class="main_nav_content d-flex flex-row">

					<!-- Categories Menu -->

					<div class="cat_menu_container">
						<div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
							<div class="cat_burger"><span></span><span></span><span></span></div>
							<div class="cat_menu_text" href="">categories</div>
						</div>

						<ul class="cat_menu">

						</ul>
					</div>

					<!-- Main Nav Menu -->

					<div class="main_nav_menu ml-auto">
						<ul class="standard_dropdown main_nav_dropdown">
							{% for kind in kinds %}
							<li><a href="/?kind={{kind.dn}}">{{ kind.sign}}<i class="fas fa-chevron-down"></i></a></li>
							{% endfor %}

						</ul>
					</div>

					<!-- Menu Trigger -->

					<div class="menu_trigger_container ml-auto">
						<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
							<div class="menu_burger">
								<div class="menu_trigger_text">menu</div>
								<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
							</div>
						</div>
					</div>
b
				</div>
			</div>
		</div>
	</div>
</nav>


!-- Menu Trigger -->

                    <div class="menu_trigger_container ml-auto">
                        <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                            <div class="menu_burger">
                                <div class="menu_trigger_text"></div>
                                <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                            </div>
                        </div>



</nav>
<!-- Menu -->

    <div class="page_menu">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="page_menu_content">

                        <div class="page_menu_search">
                            <form action="#">
                                <input type="search" required="required" class="page_menu_search_input"
                                    placeholder="Search for products...">
                            </form>
                        </div>
                        <ul class="page_menu_nav">
                            <li class="page_menu_item has-children">
                                <a href="#"><i ></i></a>
                                <ul class="page_menu_selection">
                                    <li><a href="#"><i class="fa fa-angle-down"></i></a></li>

                                </ul>
                            </li>
                            <li class="page_menu_item has-children">
                                <a href="#"><i ></i></a>
                                <ul class="page_menu_selection">
                                    <li><a href="#"><i class="fa fa-angle-down"></i></a></li>

                                </ul>
                            </li>
                            <li class="page_menu_item">
                                <a href="#"><i ></i></a>
                            </li>
                            <li class="page_menu_item has-children">
                                <a href="#"><i ></i></a>
                                <ul class="page_menu_selection">
                                    <li><a href="#"><i ></i></a></li>
                                    <li class="page_menu_item has-children">
                                        <a href="#"><i ></i></a>
                                        <ul class="page_menu_selection">
                                            <li><a href="#"><i ></i></a></li>

                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li class="page_menu_item has-children">
                                <a href="#"><i ></i></a>
                                <ul class="page_menu_selection">
                                    <li><a href="#"><i ></i></a></li>

                                </ul>
                            </li>
                            <li class="page_menu_item has-children">
                                <a href="#"><i ></i></a>
                                <ul class="page_menu_selection">
                                    <li><a href="#"><i ></i></a></li>

                                </ul>
                            </li>
                            <li class="page_menu_item"><a href="blog.html"><i ></i></a>
                            </li>
                            <li class="page_menu_item"><a href="contact.html"><i
                                        ></i></a></li>
                        </ul>


                </div>
            </div>
        </div>
    </div>

	</header>
